body,html{
    height: 100%;
}
.bg-img{
    background-repeat:no-repeat;
    background-size:cover;
}
.pres{
    background-color: rgba(44,48,52,.7);
    border-radius: 100px;
    padding: 1% 4%;
    max-width: 50%;
}
.bottom-def{
    bottom:.5%;
}
.tr-bg-fade{
    transition: background-color .5s linear;
}

a i {
    color: white;
}
.logo{
    display: inline-block;
    border-radius: 500px;
}
.z-10{
    z-index: 10;
}
.logo{
    width: 50px;
    height: 50px;
    position: relative;
    vertical-align: middle;
}
.navbar{
    position: absolute;
    top: 0;
}
@keyframes an_f {
    0%{
        opacity: 1;
    }
    40%{
        opacity: 0;
    }
    60%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.fade-2s{
    animation: an_f linear 2s;
}
.invisible, .invisible i {
    display: none;
}
.m-c{
    margin: 0 2%;
}